/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image-url: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --accent-color-text: var(--accent-color);
  --decorative-item: var(--accent-color);
  --accent-color-menu-40: rgba(255, 0, 112, 0.4);
  --main-text-color: #000028;
  --text-color: #f1b2ce;
  --interactive-color: var(--text-color);
  --font-family: "IBM Plex Mono";
  --color-title: #db00ff;
}
