/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image-url: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-color-text: var(--main-text-color);
  --decorative-item: var(--accent-color-text);
  --accent-color-transparent: rgba(50, 49, 45, 0.4);
  --main-text-color: #353430;
  --text-color: var(--main-text-color);
  --interactive-color: var(--text-color);
  --color-title: #ffc2e6;
}

:root.theme-light .rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --background-image-url: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-color-text: var(--main-text-color);
    --decorative-item: var(--accent-color-text);
    --accent-color-transparent: rgba(50, 49, 45, 0.4);
    --main-text-color: #353430;
    --text-color: var(--main-text-color);
    --interactive-color: var(--text-color);
    --color-title: #ffc2e6;
  }

  .rec-label {
    display: none;
  }
}
